<!DOCTYPE html>
<html>
<head>
    <title>Nearest Shelters</title>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
<button type="'button" onclick="showRoute();"> 경로 </button>
<div id="map" style="height: 400px;"></div>

<!-- 위치 정보 표시 -->
<div id="location-info">
    <p>Your Location: <span id="user-location"></span></p>
    <p>Nearest Shelters:</p>
    <ul id="shelters-list"></ul>
</div>

<script>
    document.cookie = 'my_cookie=cookie_value; samesite=lax';
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    function showRouteWithEnd(userLatitude, userLongitude, endLatitude, endLongitude) {
        window.location.href = `/tmap?user_lat=${userLatitude}&user_lng=${userLongitude}&end_lat=${endLatitude}&end_lng=${endLongitude}`;
    }

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLatitude = position.coords.latitude;
            var userLongitude = position.coords.longitude;

            map.setView([userLatitude, userLongitude], 13);
            var userMarker = L.marker([userLatitude, userLongitude]).addTo(map);
            userMarker.bindPopup("Your Location").openPopup();

            document.getElementById('user-location').textContent = '(' + userLatitude + ', ' + userLongitude + ')';
            
            fetch('/map_view/?geolocation=1&latitude=' + userLatitude + '&longitude=' + userLongitude)
                .then(response => response.json())
                .then(data => {
                    var sheltersList = document.getElementById('shelters-list');
                    
                    // Show nearest shelter
                    var nearestShelter = data.nearest_shelters[0];
                    var shelterMarker = L.marker([nearestShelter.ycord, nearestShelter.xcord]).addTo(map);
                    shelterMarker.bindPopup("<b>" + nearestShelter.vt_acmdfclty_nm + "</b><br>" + nearestShelter.dtl_adres).openPopup();
                    shelterMarker.on('click', function () {
                        showRouteWithEnd(userLatitude, userLongitude, nearestShelter.ycord, nearestShelter.xcord);
                    });

                    // Show other shelters and add to shelters list
                    data.nearest_shelters.slice(0).forEach(shelter => {
                        var shelterMarker = L.marker([shelter.ycord, shelter.xcord]).addTo(map);
                        shelterMarker.bindPopup("<b>" + shelter.vt_acmdfclty_nm + "</b><br>" + shelter.dtl_adres);
                        shelterMarker.on('click', function () {
                            showRouteWithEnd(userLatitude, userLongitude, shelter.ycord, shelter.xcord);
                        });
                        
                        var shelterItem = document.createElement('li');
                        shelterItem.textContent = shelter.vt_acmdfclty_nm + ': (' + shelter.ycord + ', ' + shelter.xcord + ')';
                        sheltersList.appendChild(shelterItem);
                    });
                });
        });
    }
    
    function showRoute() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLatitude = position.coords.latitude;
                var userLongitude = position.coords.longitude;

                window.location.href = `/tmap?user_lat=${userLatitude}&user_lng=${userLongitude}`;
            });
        }
    }
</script>

</body>

</html>
